<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/images/dumbbell.png" alt="dumbbell pic" />
    <a class="navbar-brand" href="#"><span>P</span>rac<span>K</span>tise_</a>

    <div class="collapse navbar-collapse">
      <form
        #searchBar="ngForm"
        class="form-inline my-2 my-lg-0"
        (ngSubmit)="getWeather()"
      >
        <input
          #inputText="ngModel"
          [(ngModel)]="cityName"
          class="form-control mr-sm-2"
          type="text"
          placeholder="Search"
          aria-label="Search"
          name="cityName"
          required
        />
        <small
          class="text-danger"
          [class.d-none]="inputText.valid || inputText.untouched"
          >Name is required
        </small>
      </form>
    </div>
  </nav>
</header>
