<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img src="../../../assets/images/dumbbell.png" alt="dumbbell pic" />
    <a class="navbar-brand" href="#"><span>P</span>rac<span>K</span>tise_</a>

    <div class="collapse navbar-collapse">
      <form class="form-inline my-2 my-lg-0">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
  </nav>
</header>
