<app-header (weatherInfo)="displayInfo($event)"></app-header>
<main>
  <div>
    <div id="top-container">
      <img src="{{ loadImage }}" alt="{{ altText }}" />

      <div class="text-white" id="showMainInfo">
        <h2>{{ data.location.name }}</h2>
        <h4>{{ data.current.temp_c }} °C</h4>
      </div>
    </div>
  </div>
  <div id="bottom-container">
    <div class="custom">
      <img src="./../assets/images/humidity.png" alt="humidity pic" />
      <small>Humidity:</small>
      <p>{{ data.current.humidity }} %</p>
    </div>
    <div class="custom">
      <img src="./../assets/images/location.png" alt="location pic" />
      <p>{{ data.location.tz_id }}</p>
    </div>
    <div class="custom">
      <img
        src="{{ data.current.condition.icon }}"
        id="image-from-api"
        alt="thermometer pic"
      />
      <p>{{ data.current.condition.text }}</p>
    </div>
    <div class="custom">
      <img src="./../assets/images/wind.png" alt="wind pic" />
      <small>Wind speed:</small>
      <p>{{ data.current.wind_kph }} km/h</p>
    </div>
  </div>
</main>
<app-footer></app-footer>
