main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
main div {
  width: 55vh;
}
#showMainInfo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#top-container {
  position: relative;
  text-align: center;
}
#top-container img {
  width: 100%;
  border-top-right-radius: 10%;
  border-top-left-radius: 10%;
}
img {
  width: 25%;
}
#bottom-container {
  padding-top: 3%;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-family: cursive;
}
#bottom-container div {
  width: 35%;
  height: fit-content;
}
.custom {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#image-from-api {
  width: 30%;
}
