<app-header></app-header>
<main>
  <div>
    <div id="top-container">
      <img src="{{ loadImage }}" alt="{{ altText }}" />
      <div id="showMainInfo">
        <h2>Pretoria</h2>
        <h4>33 °C</h4>
      </div>
    </div>
  </div>
  <div id="bottom-container">
    <div>
      <img src="../assets/images/humidity.png" alt="humidity pic" />
      <br />
      <small>Humidity</small>
      <p>34</p>
    </div>
    <div>
      <img src="../assets/images/cold.png" alt="cold pic" />
      <br />
      <small>Lowest Temp</small>
      <p>34 °C</p>
    </div>
    <div>
      <img src="../assets/images/thermometer.png" alt="thermometer pic" />
      <br />
      <small>Highest Temp</small>
      <p>34 °C</p>
    </div>
    <div>
      <img src="../assets/images/wind.png" alt="wind pic" />
      <br />
      <small>Wind speed:</small>
      <p>34 km/h</p>
    </div>
  </div>
</main>
<app-footer></app-footer>
