<app-header (weatherInfo)="displayInfo($event)"></app-header>
<main>
  <div>
    <div id="top-container">
      <img src="{{ loadImage }}" alt="{{ altText }}" />
      <div id="showMainInfo">
        <h2>{{ data.location.name }}</h2>
        <h4>{{ data.current.temp_c }} °C</h4>
      </div>
    </div>
  </div>
  <div id="bottom-container">
    <div>
      <img src="../assets/images/humidity.png" alt="humidity pic" />
      <br />
      <small>Humidity</small>
      <p>{{ data.current.humidity }}</p>
    </div>
    <div>
      <img src="../assets/images/cold.png" alt="cold pic" />
      <br />
      <small>Lowest Temp</small>
      <p>{{ data.current.feelslike_c }} °C</p>
    </div>
    <div>
      <img src="../assets/images/thermometer.png" alt="thermometer pic" />
      <br />
      <small>Highest Temp</small>
      <p>34 °C</p>
    </div>
    <div>
      <img src="../assets/images/wind.png" alt="wind pic" />
      <br />
      <small>Wind speed:</small>
      <p>{{ data.current.wind_kph }} km/h</p>
    </div>
  </div>
</main>
<app-footer></app-footer>
